IMPORT LIBRARIES

In [97]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [98]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

READ ORIGINAL EDUCATION DATASETS

In [99]:
idn = pd.read_csv('/content/drive/MyDrive/Datathon/education_idn.csv').iloc[1:]
khm = pd.read_csv('/content/drive/MyDrive/Datathon/education_khm.csv').iloc[1:]
lao = pd.read_csv('/content/drive/MyDrive/Datathon/education_lao.csv').iloc[1:]
mys = pd.read_csv('/content/drive/MyDrive/Datathon/education_mys.csv').iloc[1:]
phl = pd.read_csv('/content/drive/MyDrive/Datathon/education_phl.csv').iloc[1:]
tha = pd.read_csv('/content/drive/MyDrive/Datathon/education_tha.csv').iloc[1:]
vnm = pd.read_csv('/content/drive/MyDrive/Datathon/education_vnm.csv').iloc[1:]
sgp = pd.read_csv('/content/drive/MyDrive/Datathon/education_sgp.csv').iloc[1:]
brn = pd.read_csv('/content/drive/MyDrive/Datathon/education_brn.csv').iloc[1:]
mmr = pd.read_csv('/content/drive/MyDrive/Datathon/education_mmr.csv').iloc[1:]

countries = ['idn','khm','lao','mys','phl','tha','vnm','sgp','brn','mmr']
df_all = pd.concat([idn, khm, lao, mys, phl, tha, vnm, sgp, brn, mmr], ignore_index=True)
df_all.head()

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,Indonesia,IDN,2010,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,0.92
1,Indonesia,IDN,2005,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,4.65
2,Indonesia,IDN,2000,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,7.67
3,Indonesia,IDN,1995,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,7.58
4,Indonesia,IDN,1990,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,17.13

In [100]:
test = vnm.groupby('Indicator Name').size().reset_index(name='count').sort_values(by='count', ascending=False)
test = test[test['count'] >= 40]

test2 = tha.groupby('Indicator Name').size().reset_index(name='count').sort_values(by='count', ascending=False)
test2 = test2[test2['count'] >= 40]

columns = [i for i in test2['Indicator Name'].values if i in test['Indicator Name'].values]
columns[:5]

['Population ages 15-64 (% of total population)',
 'Population ages 0-14 (% of total population)',
 'Number of under-five deaths, female',
 'Number of infant deaths, female',
 'Number of infant deaths, male']

FIND FREQUENTLY RECORDED COLUMNS

In [101]:
brn_pivot = pd.pivot(brn, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]
idn_pivot = pd.pivot(idn, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]
khm_pivot = pd.pivot(khm, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]
lao_pivot = pd.pivot(lao, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]
mmr_pivot = pd.pivot(mmr, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]
mys_pivot = pd.pivot(mys, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]
phl_pivot = pd.pivot(phl, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]
sgp_pivot = pd.pivot(sgp, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]
tha_pivot = pd.pivot(tha, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]
vnm_pivot = pd.pivot(vnm, index=['Country Name', 'Country ISO3', 'Year'], columns=['Indicator Name'], values='Value')[columns]

df_pivot = pd.concat([brn_pivot, idn_pivot, khm_pivot, lao_pivot, mmr_pivot, mys_pivot, phl_pivot, sgp_pivot, tha_pivot, mmr_pivot, vnm_pivot],
                     ignore_index=False).reset_index()
df_pivot.tail()

Indicator Name,Country Name,Country ISO3,Year,Population ages 15-64 (% of total population),Population ages 0-14 (% of total population),"Number of under-five deaths, female","Number of infant deaths, female","Number of infant deaths, male","Number of under-five deaths, male","Secondary education, duration (years)",...,"School age population, primary education, female (number)","School age population, primary education, both sexes (number)","Primary education, pupils","School age population, pre-primary education, male (number)","School age population, pre-primary education, female (number)","School age population, pre-primary education, both sexes (number)","School age population, tertiary education, both sexes (number)","School age population, tertiary education, female (number)","School age population, tertiary education, male (number)","Secondary education, general pupils"
688,Vietnam,VNM,2018,69.224764220404,23.0177243888372,12371,10320,15224,19772,7,...,3439767,7271446,8041842,2424270,2164790,4589060,7195031,3500651,3694380,7882203
689,Vietnam,VNM,2019,69.0674366561731,22.8589111216817,12217,10202,14995,19485,7,...,3481156,7369125,8506562,2430437,2174098,4604535,6865386,3337489,3527897,NaN
690,Vietnam,VNM,2020,68.8794569159397,22.693134535111,12033,10040,14747,19153,7,...,3513643,7441590,8718356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,Vietnam,VNM,2021,68.7017158657313,22.5451502797145,11779,9815,14357,18676,7,...,NaN,NaN,8884964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,Vietnam,VNM,2022,68.4929044881527,22.3901369242335,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

AGGREGATE WITH GDP DATASET

In [102]:
df_gdp = pd.read_csv('/content/drive/MyDrive/Datathon/gdp_per_capita.csv', skiprows=range(1, 4), header=1)
df_gdp = df_gdp[df_gdp['Country Code'].str.lower().isin(countries)]
df_gdp = pd.melt(df_gdp, id_vars=['Country Name','Country Code'], value_vars=[str(i) for i in range(1960, 2023)], var_name='Year', value_name='GDP Per Capita')
df_gdp.tail()

    Country Name Country Code  Year  GDP Per Capita
625     Malaysia          MYS  2022    11971.927599
626  Philippines          PHL  2022     3498.509816
627    Singapore          SGP  2022    82807.649083
628     Thailand          THA  2022     6908.802119
629     Viet Nam          VNM  2022     4163.514300

In [103]:
df = pd.merge(df_pivot, df_gdp, how='left', left_on=['Country ISO3','Year'], right_on=['Country Code','Year'], suffixes=(' X', ' Y'))
df.drop(['Country Name Y','Country Code'], axis=1, inplace=True)
df = df[df['GDP Per Capita'].notna()]
df.tail()

,Country Name X,Country ISO3,Year,Population ages 15-64 (% of total population),Population ages 0-14 (% of total population),"Number of under-five deaths, female","Number of infant deaths, female","Number of infant deaths, male","Number of under-five deaths, male","Secondary education, duration (years)",...,"School age population, primary education, both sexes (number)","Primary education, pupils","School age population, pre-primary education, male (number)","School age population, pre-primary education, female (number)","School age population, pre-primary education, both sexes (number)","School age population, tertiary education, both sexes (number)","School age population, tertiary education, female (number)","School age population, tertiary education, male (number)","Secondary education, general pupils",GDP Per Capita
688,Vietnam,VNM,2018,69.224764220404,23.0177243888372,12371,10320,15224,19772,7,...,7271446,8041842,2424270,2164790,4589060,7195031,3500651,3694380,7882203,3267.225009
689,Vietnam,VNM,2019,69.0674366561731,22.8589111216817,12217,10202,14995,19485,7,...,7369125,8506562,2430437,2174098,4604535,6865386,3337489,3527897,NaN,3491.091279
690,Vietnam,VNM,2020,68.8794569159397,22.693134535111,12033,10040,14747,19153,7,...,7441590,8718356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3586.347297
691,Vietnam,VNM,2021,68.7017158657313,22.5451502797145,11779,9815,14357,18676,7,...,NaN,8884964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3756.489122
692,Vietnam,VNM,2022,68.4929044881527,22.3901369242335,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4163.514300

In [131]:
X = df.drop(['Country Name X','Country ISO3', 'Year', 'GDP Per Capita'], axis=1)
X_col = X.columns
y = df['GDP Per Capita']
X.tail()

,Population ages 15-64 (% of total population),Population ages 0-14 (% of total population),"Number of under-five deaths, female","Number of infant deaths, female","Number of infant deaths, male","Number of under-five deaths, male","Secondary education, duration (years)","Primary education, duration (years)",Primary school starting age (years),Lower secondary school starting age (years),...,"School age population, primary education, female (number)","School age population, primary education, both sexes (number)","Primary education, pupils","School age population, pre-primary education, male (number)","School age population, pre-primary education, female (number)","School age population, pre-primary education, both sexes (number)","School age population, tertiary education, both sexes (number)","School age population, tertiary education, female (number)","School age population, tertiary education, male (number)","Secondary education, general pupils"
688,69.224764220404,23.0177243888372,12371,10320,15224,19772,7,5,6,11,...,3439767,7271446,8041842,2424270,2164790,4589060,7195031,3500651,3694380,7882203
689,69.0674366561731,22.8589111216817,12217,10202,14995,19485,7,5,6,11,...,3481156,7369125,8506562,2430437,2174098,4604535,6865386,3337489,3527897,NaN
690,68.8794569159397,22.693134535111,12033,10040,14747,19153,7,5,6,11,...,3513643,7441590,8718356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,68.7017158657313,22.5451502797145,11779,9815,14357,18676,7,5,6,11,...,NaN,NaN,8884964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,68.4929044881527,22.3901369242335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

IMPLEMENT MACHINE LEARNING PREDICTION MODEL

In [109]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, FunctionTransformer, MinMaxScaler, RobustScaler
from sklearn.feature_selection import VarianceThreshold, SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import IsolationForest
from sklearn.decomposition import PCA
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn import set_config
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

pipe = Pipeline([
    ('simple_imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler()),
])

pipe.fit(X_train)
X_train = pipe.transform(X_train)
X_test = pipe.transform(X_test)
X_train

array([[ 0.72872096, -0.66615449, -0.07143449, ...,  0.04147658,
         0.01248609,  0.11616301],
       [-0.33031174,  0.38197034, -0.5282586 , ..., -0.68422033,
        -0.66530566, -0.32863308],
       [ 1.19333382, -1.31536001, -0.3493557 , ..., -0.1180727 ,
        -0.13246273, -0.29193145],
       ...,
       [-1.20350494,  1.21850174, -0.4391914 , ..., -0.81130144,
        -0.80999398, -0.58031234],
       [ 2.35188307, -2.20923571, -0.6034928 , ..., -0.1180727 ,
        -0.13246273, -0.69802372],
       [ 0.7027382 , -0.73838375,  0.7833742 , ...,  3.75528666,
         3.64015481,  4.47985038]])

In [ ]:
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import GridSearchCV, train_test_split

param_grid = {
    'n_estimators': [300],
    'learning_rate': [0.1],
    'max_depth': [7],
    'num_leaves': [35],
    # 'data_sample_strategy': ['goss'],
    # 'boosting': ['dart']
}

lgb_reg = lgb.LGBMRegressor()
grid_search = GridSearchCV(estimator=lgb_reg, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5)
grid_search.fit(X_train, y_train)

In [126]:
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_
best_params

{'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 300, 'num_leaves': 35}

INTERPRET FINAL OUTPUT

In [127]:
from sklearn.metrics import mean_squared_error

predictions = best_model.predict(X_test)
mse = mean_squared_error(y_test, predictions)

print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 1566810.27

In [128]:
print(f'Pred: {predictions[:5]}')
print(f'Real: {y_test[:5].values}')

Pred: [  847.87212349    33.3714362  29070.85048125  3991.40636941
   399.79383685]
Real: [  582.6789678     31.21854617 27179.34442182  1953.55697861
   302.67616811]

In [134]:
feature_importances = best_model.feature_importances_
for feature, importance in zip(X_col, feature_importances):
    print(f"{feature}: {importance}")

Population ages 15-64 (% of total population): 774
Population ages 0-14 (% of total population): 554
Number of under-five deaths, female: 293
Number of infant deaths, female: 188
Number of infant deaths, male: 48
Number of under-five deaths, male: 149
Secondary education, duration (years): 17
Primary education, duration (years): 26
Primary school starting age (years): 7
Lower secondary school starting age (years): 0
School age population, last grade of primary education, both sexes (number): 51
School enrollment, primary (% gross): 137
Population of the official entrance age to primary education, female (number): 49
Official entrance age to upper secondary education (years): 5
School age population, lower secondary education, both sexes (number): 22
Theoretical duration of lower secondary education (years): 25
Population of the official entrance age to primary education, male (number): 10
Theoretical duration of upper secondary education (years): 34
School age population, last grade of primary education, male (number): 7
School age population, last grade of primary education, female (number): 18
School age population, lower secondary education, female (number): 14
School age population, primary education, male (number): 27
Population of the official entrance age to primary education, both sexes (number): 18
School age population, upper secondary education, male (number): 25
School age population, upper secondary education, female (number): 6
School age population, upper secondary education, both sexes (number): 2
School age population, lower secondary education, male (number): 17
School age population, secondary education, female (number): 15
School age population, secondary education, both sexes (number): 9
School age population, secondary education, male (number): 2
School age population, primary education, female (number): 26
School age population, primary education, both sexes (number): 3
Primary education, pupils: 158
School age population, pre-primary education, male (number): 39
School age population, pre-primary education, female (number): 16
School age population, pre-primary education, both sexes (number): 9
School age population, tertiary education, both sexes (number): 48
School age population, tertiary education, female (number): 8
School age population, tertiary education, male (number): 14
Secondary education, general pupils: 144